################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/proto-ui/CopilotIndices/17.14.794.21998
/.vs
